---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
     font-family: 'HKGrotesk';
     src: url('HKGrotesk-Bold.ttf');
}

p { font-family: "HKGroetesk-Regular"; }

.site-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0rem;
  width:100%;

  /* footer style */
  color: #99999a;
  background-color: #FAFAFB;

  .left {
    a {
      color: #666;
      border-bottom:1px dotted;
      text-decoration:none;
    }
    a:hover {
      color:red;
      border-bottom:1px dotted;
    }
  }
}

.main-photo {
  background-image: url("/assets/img/jenifer.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-photo {
  background-image: url("/assets/img/second-photo.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-photo {
  background-image: url("/assets/img/third-photo.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  background-image: url("/assets/img/video.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.download {
  margin: 80px;
  text-align: center;
  color: #333;
}

.presentation {
  margin: 80px;
  text-align: center;
  color: #333;
  padding: 0 400px;
}

.text-left {
  text-align: left;
  padding-top: 250px;
  width: 350px;
  padding-left: 90px;
  color: #333;
}

.text-right {
  text-align: right;
  padding-top: 250px;
  padding-right: 90px;
  color: #333;
}
